<div class="row-fluid">
	<div class="span2">
		<p><small>清风舞落花。</small>寂寞的风吹过脸庞，空气中弥漫飘过一阵阵淡淡的清香，两眉间，相思尽染。揪心的思绪无边无沿。任风吹看斑斓的花落。拔情弦，我却痴心未改。残留着你的味道,可惜几度徘徊，走不出的心灵上的阴霾，仍是那梦里花间的蜜语甜言。
		</p>
		<p>人世间的沧桑，残念余味之间点燃对你的思念，让心灵沿着情感的小径，搅断了当年的情，再回头，人早已漂泊而去，只留下满城的桃花。桃花娇艳美丽，是最寂寞的花，因为寂寞所以开得灿烂热闹，春瘦桃花无路。不及桃花羞作死、人面桃花相映红,;盈盈含笑舞春风。
		</p>
	</div>
	<div class="span10">
		<p>只是有多少人能够明白那片热闹背后的寂寥？或许桃花她就是这最灿烂的寂寥。只是她的热闹只有我能看得到，只有我理解红消香断有谁怜的结果。总觉得自己随时都有可能离开这个不属于我的世间。桃花是掉落在这个世界的精灵，忧郁但却空灵，有着不同于这个世界的纯净与跳跃。
		人面不知何处去，桃花依旧笑春风。耳边还回荡着轻轻柔柔的浅笑低吟，可是，有些人，一离开，就是一辈子。只是有一种爱，血脉相连；有一种痛，痛彻心扉；有一种怀念，不用拥在怀里，却依旧念念不忘。如果我如桃花般的死去，你是否为我落泪，是否在每年花开的季节黯然神伤。是否还能想起站在桃树下的那个我。一城桃花，铭记刹那的绚烂；一路忧伤，心碎了与爱无关。
		</p>
		<p>说不定那时我的魂儿早已寻不到昨日的绮丽，细柔的风声夹在其中，婉转低回，只能聆听孤寂的花魂絮语绵绵的心曲，只为找寻那昔日的柔情，落入遗世的孤单。开放在心灵深处最美丽的花，扎根于孤独的土壤，念远心如烧
		不觉中夜起 , 桃花带露泛立在三月里,花开空前的绚美，花谢绝后的流韵在心海里徜徉......。
		</p>
		<p>扬手的是春落桃红，禁不住岁月和现实的磨砺，那种难言的的疼是被青春抛弃的无奈，是被岁月洗尽铅华的不舍，在若有若失若即若离的相似岁月里，不经意间，年轮已悄悄地为你的脸上涂上了淡淡的岁月印迹，增添了流年的风霜。最终散落成岁月的尘埃，如若有来生，许我一场红颜醉，心爱的人，我愿与你共度，我愿伴你身边，花气来临，与你共赏桃红妩媚，看那晴光流转云卷花开,此情深处，谁人能懂，纸上情怀终埋痛。春花无语迷蒙。空闺留月诉离殇。料的年年断肠处，思君时，意难忘。只在梦轩窗。我的灵魂，在空灵中绽放；如春梦里一般在遥望……
		</p>
	</div>
</div>