<span class="float_right" id="clock"></span>
<ul>
  <li>
    <a class="menu_trigger" href="#">项目定制</a>
    <ul class="menu">
      <li>
        <a href="#">主题风格管理</a>
      </li>
      <li>
        <a href="#">客户端程序包管理</a>
      </li>
      <li>
        <a href="#">服务器注册管理</a>
      </li>
      <li>
        <a href="#">系统环境管理</a>
      </li>
      <li>
        <a href="#">系统环境配置文件</a>
      </li>
      <li>
        <a href="#">表单脚本管理</a>
      </li>
    </ul>
  </li>
  <li>
    <a class="menu_trigger" href="#">个性化定制</a>
    <ul class="menu">
      <li>
        <a href="#">用户个性化参数定义</a>
      </li>
      <li>
        <a href="#">用户个性化参数设置</a>
      </li>
    </ul>
  </li>
  <li>
    <a class="menu_trigger" href="#">安全管理</a>
    <ul class="menu">
      <li>
        <a href="#">终端管理</a>
      </li>
      <li>
        <a href="#">终端用户绑定</a>
      </li>
      <li>
        <a href="#">会话和令牌管理</a>
      </li>
    </ul>
  </li>
  <li>
    <a class="menu_trigger" href="#">系统管理</a>
    <ul class="menu">
      <li>
        <a href="#">系统资源管理</a>
      </li>
      <li>
        <a href="#">角色权限管理</a>
      </li>
      <li>
        <a href="#">修改密码</a>
      </li>
    </ul>
  </li>
</ul>