      <div class="window_aside">
        Local Network Resources
      </div>
      <div class="window_main">
        <table class="data">
          <thead>
            <tr>
              <th class="shrink">
                &nbsp;
              </th>
              <th>
                Name
              </th>
              <th class="shrink">
                Operating System
              </th>
              <th class="shrink">
                Version
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="images/icons/icon_16_server.png" />
              </td>
              <td>
                Urban Terror - <em>Game Server</em>
              </td>
              <td>
                Linux
              </td>
              <td>
                Ubuntu
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_folder_remote.png" />
              </td>
              <td>
                Shared Project Files
              </td>
              <td>
                Linux
              </td>
              <td>
                Red Hat
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_vpn.png" />
              </td>
              <td>
                Remote Desktop VPN
              </td>
              <td>
                Windows
              </td>
              <td>
                XP
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Michael Scott
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.5
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Dwight Schrute
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.6
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Jim Halpert
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.6
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Pam Beesly
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.5
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Ryan Howard
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.5
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Jan Levinson
              </td>
              <td>
                Mac OS
              </td>
              <td>
                10.5
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Roy Anderson
              </td>
              <td>
                Windows
              </td>
              <td>
                7
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Stanley Hudson
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Kevin Malone
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Angela Martin
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Oscar Martinez
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Phyllis Lapin
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Creed Bratton
              </td>
              <td>
                Windows
              </td>
              <td>
                7
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Meredith Palmer
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Toby Flenderson
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Darryl Philbin
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Kelly Kapoor
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/icons/icon_16_computer.png" />
              </td>
              <td>
                Andy Bernard
              </td>
              <td>
                Windows
              </td>
              <td>
                Vista
              </td>
            </tr>
          </tbody>
        </table>
      </div>
