<a class="float_left" href="#" id="show_desktop" title="Show Desktop">
  <img src="images/icons/icon_22_desktop.png" />
</a>
<ul id="dock">
  <li id="env_icon">
    <a href="#env">
      <img src="images/icons/icon_22_computer.png" />
      	系统环境管理
    </a>
  </li>
  <li id="script_icon">
    <a href="#script">
      <img src="images/icons/icon_22_drive.png" />
      	表单脚本管理
    </a>
  </li>
  <li id="terminal_icon">
    <a href="#terminal">
      <img src="images/icons/icon_22_disc.png" />
      	终端管理
    </a>
  </li>
  <li id="user_icon">
    <a href="#user">
      <img src="images/icons/icon_22_network.png" />
      	修改密码
    </a>
  </li>
</ul>