<div class="row-fluid">
	<div class="span2"></div>
	<div class="span10">
		<p>
			<button type="button" class="btn btn-primary" style="margin-left:20px">新建</button>
			<button type="button" class="btn" style="margin-left:20px">删除</button>
		</p>
		<hr/>
	<table class="table table-striped table-bordered table-hover">
       <thead>
         <tr>
           <th>#</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Username</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>1</td>
           <td>Mark</td>
           <td>Otto</td>
           <td>@mdo</td>
         </tr>
         <tr>
           <td>2</td>
           <td>Jacob</td>
           <td>Thornton</td>
           <td>@fat</td>
         </tr>
         <tr>
           <td>3</td>
           <td>Larry</td>
           <td>the Bird</td>
           <td>@twitter</td>
         </tr>
       </tbody>
     </table>
	</div>
</div>