<a class="abs icon" style="left:20px;top:20px;" href="#env">
  <img src="images/icons/icon_32_computer.png" />
  	系统环境管理
</a>
<a class="abs icon" style="left:20px;top:100px;" href="#script">
  <img src="images/icons/icon_32_drive.png" />
 	 表单脚本管理
</a>
<a class="abs icon" style="left:20px;top:180px;" href="#terminal">
  <img src="images/icons/icon_32_disc.png" />
  	终端管理
</a>
<a class="abs icon" style="left:20px;top:260px;" href="#user">
  <img src="images/icons/icon_32_network.png" />
  	修改密码
</a>
<!-- --------------------------env start ------------------------->
<div id="env" class="abs window">
  <div class="abs window_inner">
    <div class="window_top">
      <span class="float_left">
        <img src="images/icons/icon_16_computer.png" />
        	系统环境管理
      </span>
      <span class="float_right">
        <a href="#" class="window_min"></a>
        <a href="#" class="window_resize"></a>
        <a href="#env_icon" class="window_close"></a>
      </span>
    </div>
    <div class="abs window_content"></div>
    <div class="abs window_bottom"></div>
  </div>
  <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>
<!-- --------------------------env end -------------------------->
<!-- --------------------------script start --------------------->
<div id="script" class="abs window">
  <div class="abs window_inner">
    <div class="window_top">
      <span class="float_left">
        <img src="images/icons/icon_16_drive.png" />
        	脚本管理
      </span>
      <span class="float_right">
        <a href="#" class="window_min"></a>
        <a href="#" class="window_resize"></a>
        <a href="#script_icon" class="window_close"></a>
      </span>
    </div>
    <div class="abs window_content"></div>
    <div class="abs window_bottom"></div>
  </div>
  <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>
<!-- --------------------------script end ----------------------->
<!-- --------------------------terminal start ------------------->
<div id="terminal" class="abs window">
  <div class="abs window_inner">
    <div class="window_top">
      <span class="float_left">
        <img src="images/icons/icon_16_disc.png" />
       	 终端管理
      </span>
      <span class="float_right">
        <a href="#" class="window_min"></a>
        <a href="#" class="window_resize"></a>
        <a href="#terminal_icon" class="window_close"></a>
      </span>
    </div>
    <div class="abs window_content"></div>
    <div class="abs window_bottom"></div>
  </div>
  <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>
<!-- --------------------------terminal end --------------------->
<!-- --------------------------user start ----------------------->
<div id="user" class="abs window">
  <div class="abs window_inner">
    <div class="window_top">
      <span class="float_left">
        <img src="images/icons/icon_16_network.png" />
        	修改密码
      </span>
      <span class="float_right">
        <a href="#" class="window_min"></a>
        <a href="#" class="window_resize"></a>
        <a href="#user_icon" class="window_close"></a>
      </span>
    </div>
    <div class="abs window_content"></div>
    <div class="abs window_bottom"></div>
  </div>
  <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>
<!-- --------------------------user end ------------------------->